:root {
    font-size: 16px;
    --main-background: #f1f1f1;
    --sidenav-background: #ffffff;
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    width: 80%;
    margin-inline: auto;
    background-color: var(--main-background);
}

.card,
.sidenav {
    box-shadow: -5px 5px 5px #c9c9c9, 5px -5px 5px #c9c9c9;
}


.container {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.sidenav {
    width: 22.5%;
    background-color: var(--sidenav-background);
}

figure {
    margin: 0;
    position: relative;
}

figcaption {
    position: absolute;
    font-weight: bold;
    bottom: 1rem;
    left: .5rem;
    padding: 0 1rem;
    text-shadow: -2px -1px 10px var(--main-background);
    font-size: 1.5rem;
    color: var(--sidenav-background);
}

.contacts {}

.contacts ul {
    list-style: none;
    margin-top: 0;
    font-size: 1.25rem;
    padding: 1em;
}


.about-me {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.card {
    background-color: var(--sidenav-background);
}

.card:last-child {
    margin-top: 1rem;
}